import React from "react";

interface {{ component_name }}Props {
    data: Array;
    className: string;
}

export default {{ component_name }}(props: {{ component_name }}Props) {
    return (
        <section className={props.className}>
            {# AI_PLACEHOLDER #}
        </section>
    );
}