/** @type {import('tailwindcss').Config} */
export default {
  content: [
    "./index.html",
    "./src/**/*.{js,ts,jsx,tsx}",
  ],
  theme: {
    extend: {
      colors: {
        primary: "{{ primary_color | default('#3b82f6') }}",
        secondary: "{{ secondary_color | default('#10b981') }}",
      }
    },
  },
  plugins: [],
}
